.header{ 
    background-color: rosybrown;
    position: fixed;
    top: 0px;
    overflow: hidden;
    /* position: absolute; */
    width: 100%;
    z-index: 1;
    display:flexbox;
  }
  footer{
     background-color: rosybrown;
     position: fixed;
     bottom: 0px;
     overflow: hidden;
     /* position: absolute; */
     width: 100%;
  }
  .main_container{
     display: flexbox;
  }
   ul{
     /* margin-left: 15%;
     margin-right: 15%;  */
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
  }
  .li{
     text-decoration: none;
     display:inline-block;
     padding: 3%;
     position: relative;
  }
  li img{
     width: 150px;
     height: 150px;
     border-radius: 15%;
     box-shadow: 5px 5px grey;
     
     
  }
  li p{  
    display: none;
   text-align: center;
   position: absolute;
   top: 75px;
   left: 86px;
   color: #fff;
     
  }
  li:hover p{
     display: block;
  }
  .socialmedia_icon{
     width:22px;
     height: 20px;
  }
  .searchBar{
     margin-left: 35px;
     height: 380px;
     width: 100%;
    /* background-image: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg'); */
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 60px;
    
  }
  .logo{
     width:60px;
     height:60px;
  }
  html,body{
     height:100%;
     width:100%;
     margin:0px;
     padding-bottom: 10%;
     background-color:#e0e0e0 ;
     font-family: 'Ubuntu', sans-serif;
  }
 .input_class{
    position: absolute;
    margin: 10% 37%;
    border-radius: 10px;
    background-color:  #f1f1f1;
    border: 1px solid transparent;
    padding:10px;
    width: 30%;
    font-size: 16px;
    outline: none;
 }
 .searchbar_image{
    width:100%;
    height: 80%; 
}
.login_wrapper{
   float: right;
   margin-top: 20px;
   margin-right: 1%;
}

.text_wrapper{
  text-align: center;
  margin-bottom: 2%;
  
}
.socialmedia_wrapper{
   float: right;
   margin-top: -8px;
   margin-right: 2%;
  
}
.contact_wrapper{
   padding-top: 5px;
   width:110px;
   margin-left: 2%;
}
.searchBar_wrapper{
   display: flex;
   justify-content: center;
}
a{
   text-decoration: none;

}
span{
   color: black;
}
.viewmore_wrapper{
   text-align: center;
   padding-bottom: 60px;
}
.viewmore{
   margin-bottom:4%;
}
.contactus{
   background-color: teal;
}
.login_button{
   background-color: white;
   color: black;
}
.morecities {
   display: none;
}
.morecities.active {
   display: flex;
}